DailyProjectNotificationWorkflow.json
{
  "Comment": "Project Notifier Step Functions Workflow (Single Message, Auth Passed, DLQ Handling)",
  "StartAt": "Login",
  "States": {
    "Login": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:LoginLambda",
      "ResultPath": "$.auth",
      "Next": "FetchProjects",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "DLQNotifier"
        }
      ]
    },
    "FetchProjects": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:FetchProjectsLambda",
      "InputPath": "$",
      "ResultPath": "$.projects",
      "Next": "ProcessEachProject",
      "Catch": [
        {
          "ErrorEquals": ["AuthFailureException"],
          "Next": "Login"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "DLQNotifier"
        }
      ]
    },
    "ProcessEachProject": {
      "Type": "Map",
      "ItemsPath": "$.projects",
      "Parameters": {
        "project.$": "$$.Map.Item.Value",
        "auth.$": "$.auth"
      },
      "Iterator": {
        "StartAt": "ComputeMessageToSend",
        "States": {
          "ComputeMessageToSend": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:ComputeMessagesToSendLambda",
            "InputPath": "$",
            "ResultPath": "$",
            "Next": "RequestApprovalToSend",
            "Catch": [
              {
                "ErrorEquals": ["ProjectTooFar", "ProjectPassed"],
                "Next": "EndWorkflow"
              },
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "DLQNotifier"
              }
            ]
          },
          "RequestApprovalToSend": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:RequestApprovalToSendLambda",
            "InputPath": "$",
            "ResultPath": "$",
            "Next": "SendAndPinMessage",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "DLQNotifier"
              }
            ]
          },
          "SendAndPinMessage": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:SendAndPinMessageLambda",
            "InputPath": "$",
            "ResultPath": "$",
            "Next": "NotifyCompletion",
            "Catch": [
              {
                "ErrorEquals": ["AuthFailureException"],
                "Next": "Login"
              },
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "DLQNotifier"
              }
            ]
          },
          "NotifyCompletion": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:NotifyCompletionLambda",
            "InputPath": "$",
            "End": true,
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "DLQNotifier"
              }
            ]
          }
        }
      },
      "Next": "EndWorkflow"
    },
    "EndWorkflow": {
      "Type": "Pass",
      "End": true
    },
    "DLQNotifier": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:DLQNotifierLambda",
      "InputPath": "$",
      "End": true
    }
  }
}
