infra/DailyProjectNotificationWorkflow.json
{
  "Comment": "Project Notifier Step Functions Workflow (Single Message, Auth Passed, DLQ Handling)",
  "StartAt": "Login",
  "States": {
    "Login": {
      "Type": "Task",
      "Resource": "${LoginLambdaArn}",
      "Parameters": {
        "executionId.$": "$$.Execution.Id",
        "context.$": "$$.Execution.Input"
      },
      "ResultPath": "$",
      "Next": "FetchProjects",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "MaxAttempts": 2,
          "IntervalSeconds": 5,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "LoginFailed"
        }
      ]
    },
    "LoginFailed": {
      "Type": "Pass",
      "Parameters": {
        "Error.$": "$.Error",
        "Cause.$": "$.Cause",
        "FailedStep": "Login"
      },
      "Next": "DLQNotifier"
    },
    "FetchProjects": {
      "Type": "Task",
      "Resource": "${FetchProjectsLambdaArn}",
      "InputPath": "$",
      "ResultPath": "$.projects",
      "Next": "ProcessEachProject",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "MaxAttempts": 2,
          "IntervalSeconds": 5,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FetchProjectsFailed"
        }
      ]
    },
    "FetchProjectsFailed": {
      "Type": "Pass",
      "Parameters": {
        "Error.$": "$.Error",
        "Cause.$": "$.Cause",
        "FailedStep": "FetchProjects"
      },
      "Next": "DLQNotifier"
    },
    "ProcessEachProject": {
      "Type": "Map",
      "ItemsPath": "$.projects.projects",
      "Parameters": {
        "project.$": "$$.Map.Item.Value",
        "auth.$": "$.auth",
        "executionId.$": "$.executionId"
      },
      "Iterator": {
        "StartAt": "RouteProject",
        "States": {
          "RouteProject": {
            "Type": "Task",
            "Resource": "${RouteProjectLambdaArn}",
            "InputPath": "$",
            "ResultPath": "$",
            "Next": "ComputeMessageToSend",
            "Catch": [
              {
                "ErrorEquals": ["NotTeamLeader", "ProjectCancelled", "ProjectTooFar", "ProjectPassed", "AllNotificationsSent", "NotificationsDisabled"],
                "Next": "EndProjectIteration"
              },
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "RouteProjectFailed"
              }
            ]
          },
          "RouteProjectFailed": {
            "Type": "Pass",
            "Parameters": {
              "Error.$": "$.Error",
              "Cause.$": "$.Cause",
              "FailedStep": "RouteProject"
            },
            "Next": "ProjectDLQNotifier"
          },
          "ComputeMessageToSend": {
            "Type": "Task",
            "Resource": "${ComputeMessageToSendLambdaArn}",
            "InputPath": "$",
            "ResultPath": "$",
            "Next": "RequestApprovalToSend",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "ComputeMessageToSendFailed"
              }
            ]
          },
          "ComputeMessageToSendFailed": {
            "Type": "Pass",
            "Parameters": {
              "Error.$": "$.Error",
              "Cause.$": "$.Cause",
              "FailedStep": "ComputeMessageToSend"
            },
            "Next": "ProjectDLQNotifier"
          },
          "RequestApprovalToSend": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "TimeoutSeconds": 86400,
            "Comment": "86400 seconds = 24 hours approval window",
            "Parameters": {
              "FunctionName": "${RequestApprovalToSendLambdaArn}",
              "Payload": {
                "taskToken.$": "$$.Task.Token",
                "auth.$": "$.auth",
                "existingProjectNotification.$": "$.existingProjectNotification",
                "message.$": "$.message",
                "executionId.$": "$.executionId"
              }
            },
            "ResultPath": "$.approvalResult",
            "Next": "SendAndPinMessage",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "RequestApprovalToSendFailed"
              }
            ]
          },
          "RequestApprovalToSendFailed": {
            "Type": "Pass",
            "Parameters": {
              "Error.$": "$.Error",
              "Cause.$": "$.Cause",
              "FailedStep": "RequestApprovalToSend"
            },
            "Next": "ProjectDLQNotifier"
          },
          "SendAndPinMessage": {
            "Type": "Task",
            "Resource": "${SendAndPinMessageLambdaArn}",
            "InputPath": "$",
            "ResultPath": "$",
            "Next": "RecordMessage",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "SendAndPinMessageFailed"
              }
            ]
          },
          "SendAndPinMessageFailed": {
            "Type": "Pass",
            "Parameters": {
              "Error.$": "$.Error",
              "Cause.$": "$.Cause",
              "FailedStep": "SendAndPinMessage"
            },
            "Next": "ProjectDLQNotifier"
          },
          "RecordMessage": {
            "Type": "Task",
            "Resource": "${RecordMessageLambdaArn}",
            "InputPath": "$",
            "ResultPath": "$",
            "Next": "NotifyCompletion",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "RecordMessageFailed"
              }
            ]
          },
          "RecordMessageFailed": {
            "Type": "Pass",
            "Parameters": {
              "Error.$": "$.Error",
              "Cause.$": "$.Cause",
              "FailedStep": "RecordMessage"
            },
            "Next": "ProjectDLQNotifier"
          },
          "NotifyCompletion": {
            "Type": "Task",
            "Resource": "${NotifyCompletionLambdaArn}",
            "InputPath": "$",
            "End": true,
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "NotifyCompletionFailed"
              }
            ]
          },
          "NotifyCompletionFailed": {
            "Type": "Pass",
            "Parameters": {
              "Error.$": "$.Error",
              "Cause.$": "$.Cause",
              "FailedStep": "NotifyCompletion"
            },
            "Next": "ProjectDLQNotifier"
          },
          "ProjectDLQNotifier": {
            "Type": "Task",
            "Resource": "${DLQNotifierLambdaArn}",
            "InputPath": "$",
            "Retry": [
              {
                "ErrorEquals": ["States.ALL"],
                "MaxAttempts": 2,
                "IntervalSeconds": 5,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "ProjectDLQNotifierFailed"
              }
            ],
            "Next": "ProjectWorkflowFailed"
          },
          "ProjectWorkflowFailed": {
            "Type": "Fail",
            "Error": "ProjectWorkflowFailed",
            "Cause": "A project workflow step failed and was reported to the DLQ notifier"
          },
          "ProjectDLQNotifierFailed": {
            "Type": "Fail",
            "Error": "DLQNotifierFailed",
            "Cause": "DLQNotifier failed to report the error after retries"
          },
          "EndProjectIteration": {
            "Type": "Pass",
            "End": true
          }
        }
      },
      "Next": "EndWorkflow"
    },
    "EndWorkflow": {
      "Type": "Pass",
      "End": true
    },
    "DLQNotifier": {
      "Type": "Task",
      "Resource": "${DLQNotifierLambdaArn}",
      "InputPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "MaxAttempts": 2,
          "IntervalSeconds": 5,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "DLQNotifierFailed"
        }
      ],
      "Next": "WorkflowFailed"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Error": "WorkflowFailed",
      "Cause": "A workflow step failed and was reported to the DLQ notifier"
    },
    "DLQNotifierFailed": {
      "Type": "Fail",
      "Error": "DLQNotifierFailed",
      "Cause": "DLQNotifier failed to report the error after retries"
    }
  }
}
